project:
  type: website
  output-dir: docs

website:
  title: "R4DS Study Plan"
  navbar:
    title: "R4DS Syllabus"
    left:
      - href: index.qmd
        text: Home
      - href: syllabus.qmd
        text: Syllabus

format:
  html:
    include-in-header:
      - text: |
          <script src="lead.js"></script>
